body
{
  background-color:#FFEFD5;
  text-align:center;
}
h1
{
  font-size:300%;
}
p.p1
 {
    background-color: rgba(160, 116, 202, 0.89);
    font-family: courier;
    font-size:20px
}
p.p2 
{
  font-size:25px;
}
h2 
{
  font-size:25px;
}
p.p3
{
  font-size:20px;
}
a
{
  font-size:35px;
}
.B{
  position: absolute;;
  top:20px;
   right:30px;

  

 

 
}
